<header class="header">
    <h1 class="logo"><a href="/">Anime Watchlist</a></h1>
    <form action="/search" method = 'GET' class = "searchForm">
        <input class = "search" type="text" name = "search" placeholder = "Search Anime">
        <button class = "searchSubmitButton" type = "submit"><img src="/search.svg" alt="Search"></button>
    </form>
</header>  